.hero {
  position: relative;
  width: 100%;
  height: 100vh; /* Full screen hero */
  overflow: hidden;
  
  background-image: url("hero.jpg");
  background-size: cover;
  border-radius: 0 0 50px 50px;
}



/* Image filling the hero area */
.hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

/* Text centered on the hero */
.hero-content {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  
}

.hero-content h1 {
  font-size: 80px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
}

/* Start button */
.start-btn {

  align-items: center;
  gap: 10px;

  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 14px 26px;
  border-radius: 40px;

  font-size: 18px;
  font-weight: 500;
  color: white;

  cursor: pointer;
}
.start-btn i {
  background: rgba(255, 255, 255, 0.8);
  color: #00b3ff; /* sky-blue arrow */
  border-radius: 50%;
  padding: 8px;
  font-size: 18px;
}

.start-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 12px rgba(0,0,0,0.18);
}
