.sunny-bg {
  background: url("sunny.jpg") no-repeat center/cover;
}

.cloudy-bg {
  background: url("cloudy.jpg") no-repeat center/cover;
}

.rainy-bg {
  background: url("rainy.jpg") no-repeat center/cover;
}

.storm-bg {
  background: url("storm.jpg") no-repeat center/cover;
}

.snow-bg {
  background: url("snow.jpg") no-repeat center/cover;
}

.fog-bg {
  background: url("fog.jpg") no-repeat center/cover;
}


/* Smooth transition */
.weather-page {
  transition: background 0.6s ease;
  min-height: 100vh;
}
