.sunny-bg {
  background: url("/public/sunny.jpg") no-repeat center/cover;
}

.cloudy-bg {
  background: url("/public/cloudy.jpg") no-repeat center/cover;
}

.rainy-bg {
  background: url("/public/rainy.jpg") no-repeat center/cover;
}

.storm-bg {
  background: url("/public/storm.jpg") no-repeat center/cover;
}

.snow-bg {
  background: url("/public/snow.jpg") no-repeat center/cover;
}

.fog-bg {
  background: url("/public/fog.jpg") no-repeat center/cover;
}


/* Smooth transition */
.weather-page {
  transition: background 0.6s ease;
  min-height: 100vh;
}
