.search-box {
  display: flex;
  background: rgba(255, 255, 255, 0.15);
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
  gap: 10px;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.15);
  font-size: 16px;
  margin-left: 15px;
  color: black;
  font-weight: bold;
  border-radius: 25px;
}

.search-box button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background: #111;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}
