.landing-section {
  padding: 80px 40px;
  background: #f2f3f5;
  border-radius: 30px;
  margin-top: 40px;
}

/* Text Section */
.text-area {
  text-align: center;
  margin-bottom: 60px;
}

.section-label {
  font-size: 15px;
  opacity: 0.5;
  margin-bottom: 10px;
}

.title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.highlight {
  background: white;
  padding: 3px 12px;
  border-radius: 20px;
}

.subtitle {
  font-size: 18px;
  opacity: 0.7;
  line-height: 1.6;
  margin-bottom: 25px;
}

.benefits-btn {
  padding: 12px 28px;
  border-radius: 40px;
  background: white;
  border: 1px solid #d0d3d6;
  font-size: 16px;
  cursor: pointer;
}

/* Cards Layout */
.cards-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 30px;
}

.feature-card {
  border-radius: 20px;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  width: 300px;
  height: 380px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
}

.feature-card.big {
  height: 330px;
  margin-bottom: 70px;
  background-image: url(/public/card1.jpg);
  background-size: cover;
}
.feature-card.mid {
  height: 260px;
  align-items:flex-end;
  background-image: url(/public/card2.jpg);
  background-size: cover;
  
}

.feature-card.big2 {
  height: 350px;
  margin-bottom: -20px;
  background-image: url("/public/card5.jpg");
  background-size: cover;
}
.feature-card.mid1 {
  height: 260px;
  align-items:flex-end;
  margin-bottom: 70px;
  background-image: url(/public/card3.jpg);
  background-size: cover;
}

.feature-card.mid3 {
  height: 160px;
  align-items:flex-end;
  margin-bottom: 170px;
  background-image: url(/public/card4.jpg);
  background-size: cover;
  font-weight: bold;
}

.capsule1{
    backdrop-filter: blur(42px);
    
    padding: 10px 18px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.12);
    cursor: pointer;
}


/* Capsule text */
.capsule1 p {
  margin: 0;
  font-size: 15px;
  color: black;
  font-weight: bold;
}

.capsule1.dark p {
  color: white;
}

.capsule1 i {
  font-size: 18px;
}

.feature-card.mid1 i{
    background-color: #f2f3f5;
    padding: 5px;
    font-size: 25px;
    border-radius: 50%;
}
